{% extends "admin/confirmation_modal.html" %}

{% block modal_body_message %}
  <style>
  .meter-bar span {
  height: 8px;
  width: 5px;
  margin: 0 2px 0 0;
  padding: 0;
  float: left;
  background-color: #dddddd;
}

.meter-bar {
  margin: 7px 3px 0 10px;
  display: inline-block;
}

.meter-bar.rating-1 .tint,
.meter-bar.rating-2 .tint {
  background-color: red;
}

.meter-bar.rating-3 .tint {
  background-color: orange;
}

.meter-bar.rating-4 .tint {
  background-color: limegreen;
}

.meter-bar.rating-5 .tint {
  background-color: green;
}

.meter-bar.rating-5 {
  box-shadow: 0 0 15px 1px rgba(3, 6, 6, 0.08);
  -webkit-box-shadow: 0 0 15px 1px rgba(3, 6, 6, 0.08);
  -moz-box-shadow: 0 0 15px 1px rgba(3, 6, 6, 0.08);
}

  </style>
  <label for="modal_new_password">New password:</label>
  <input class="modal-new-password" style="width: 295px;" data-credential-id="{{ credential.pk }}" type="text" maxlength="32" size="32" id="modal_new_password_{{ credential.pk }}" name="modal_new_password_{{ credential.pk }}" value="{{ database.credentials.first.make_random_password }}" />
    <div>
      <span style="float: left;">Strength:</span>
      <div id="meter_{{ credential.pk }}" class="meter-bar">
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
      </div>
      <span class="figure" id="strength_human_{{ credential.pk }}">strong</span>
    </div>
{% endblock %}
