{% extends "logical/database/details/base.html" %}
{% load admin_static logical_util %}

{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    .setup_ssl_button {
        margin-left: 20px
    }

    .bold_red {
      color: red;
    }

    .btn-primary {
      margin-left: 5px;
    }

    select#privileges.span {
      margin-left: 5px;
    }
  </style>
{% endblock %}


{% block tab %}

<fieldset class="module aligned ">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Endpoint</h3>
    </div>
    <div class="panel-body">
      {{ database.get_endpoint_dns }}
    </div>
  </div>
  <div class="panel panel-default">
    {% if database.engine.has_users %}
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <table id="table-credentials" class="table table-striped" data-database-id="{{database.pk}}" >
          <thead>
              <tr>
                <th>User</th>
                <th>Password</th>
                <th>Role</th>
                {% if database.infra.ssl_configured %}
                  <th>SSL Required <a href='#' class='icon-info-sign' id='ssl-info'
                     data-toggle='popover' title='SSL info' data-content='Tells the server to permit only encrypted connections for the user'></a></th>
                {% endif %}
                <th></th>
              </tr>
          </thead>
          <tbody>

            {% if database.infra.ssl_configured %}

              {% verbatim %}
                <script id="credential-template" type="text/template">
                  <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                    <td>
                      {{credential.user}}
                    </td>
                    <td>
                      <a href="#" class="btn copy-password" data-content="{{credential.password}}" id="copy_password">Copy password</a>
                      <a href="#" class="btn show-password"  data-content="{{credential.password}}" data-placement="right" data-container="body" data-toggle="popover" id="show_password" >show password</a>
                      <a class="btn btn-primary" data-toggle="modal" data-target="#reset_psw_modal-{{ credential.pk }}" id="create_new_password-{{ credential.pk }}">
                        Change
                      </a>
                    </td>
                    <td>
                      {{credential.privileges}}
                    </td>

                    <td>
                      <input class="swap-ssl-class" type="checkbox" {{credential.checked}} data-toggle="modal" data-target="#swap_force_ssl_modal-{{ credential.pk }}" id="swap_ssl_mode-{{ credential.pk }}" >
                    </td>

                    <td>
                      <a class="btn btn-danger btn-credential-remove" href="#" data-toggle="modal" data-target="#remove_credential_modal-{{ credential.pk }}" id="remove_credential-{{ credential.pk }}"><i class="icon-trash icon-white"></i></a>
                    </td>


                  </tr>
                </script>
              {% endverbatim %}

            {% else %}

              {% verbatim %}
                <script id="credential-template" type="text/template">
                  <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                    <td>
                      {{credential.user}}
                    </td>
                    <td>
                      <a href="#" class="btn copy-password" data-content="{{credential.password}}" id="copy_password">Copy password</a>
                      <a href="#" class="btn show-password"  data-content="{{credential.password}}" data-placement="right" data-container="body" data-toggle="popover" id="show_password" >show password</a>
                      <a class="btn btn-primary" data-toggle="modal" data-target="#reset_psw_modal-{{ credential.pk }}" id="create_new_password-{{ credential.pk }}">
                        Change
                      </a>
                    </td>
                    <td>
                      {{credential.privileges}}
                    </td>
                    <td>
                      <a class="btn btn-danger btn-credential-remove" href="#" data-toggle="modal" data-target="#remove_credential_modal-{{ credential.pk }}"id="remove_credential-{{ credential.pk }}"><i class="icon-trash icon-white"></i></a>
                    </td>


                  </tr>
                </script>
              {% endverbatim %}

            {% endif %}


          </tbody>
          <tfoot>
            <tr>
              <td colspan="100%">
                <div class="add-row">
                  <a href="javascript:void(0)" id="add-credential" ><i class="icon-plus-sign"></i> Add another user</a>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    {% else %}
      <div class="panel-heading">
        <h3 class="panel-title">Password</h3>
      </div>
      <div class="panel-body">
        <table id="table-credentials" class="table table-striped" data-database-id="{{database.pk}}" >
          <tbody>
            {% verbatim %}
              <script id="credential-template" type="text/template">
                <tr class="credential" data-credential-pk="{{credential.pk}}"  >
                  <td>
                    <a href="#" class="btn copy-password" data-content="{{credential.password}}" id="copy_password">Copy password</a>
                    <a href="#" class="btn show-password"  data-content="{{credential.password}}" data-placement="right" data-container="body" data-toggle="popover" id="show_password" >show password</a>
                  </td>
                </tr>
              </script>
            {% endverbatim %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>

  {% if can_setup_ssl  %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">SSL</h3>
      </div>
      <div class="panel-body">

        {% if last_configure_ssl %}
          {%if last_configure_ssl.is_status_error %}
            <button data-toggle="modal" id="retry_setup_ssl_btn" data-target="#retry_setup_ssl" class="btn btn-primary retry_setup_ssl_button">Retry configure SSL</button>
            <p><a href="/admin/maintenance/databaseconfiguressl/{{last_configure_ssl.id}}/" target='_blank'>Last configure SSL</a> has an <b>error</b>, please check the <a href="{% url 'admin:notification_taskhistory_change' last_configure_ssl.task.id %}" target='_blank'>task</a> and retry the configure SSL clicking in button above</p>
          {% else %}
            <button disabled data-toggle="modal" id="setup_ssl_btn" data-target="#setup_ssl" class="btn btn-primary setup_ssl_button">Configure SSL</button>
          {% endif %}
        {% else %}
            <button data-toggle="modal" id="setup_ssl_btn" data-target="#setup_ssl" class="btn btn-primary setup_ssl_button">Configure SSL</button>
        {% endif %}

      </div>
    </div>
  {% endif %}



</fieldset>

{% if database.engine.has_users %}
  {% for credential in database.credentials.all %}

    {% concat "modal_id"  "reset_psw_modal-" credential.pk %}
    {% include "admin/new_password_modal.html" with modal_id=modal_id box_title="Creating new password" button_class="btn btn-primary btn-reset-password" dismiss_option="data-dismiss=modal" id_optional="id=id_change_password_btn_modal" %}

    {% concat "modal_id" "swap_force_ssl_modal-" credential.pk %}
    {% include "admin/confirmation_modal.html" with modal_id=modal_id confirmation_message="Are you sure you want to swap SSL mode?" box_title="Swap SSL mode" button_class="btn btn-primary btn-swap-force-ssl" dismiss_option="data-dismiss=modal" id_optional="id=id_swap_force_ssl_btn_modal" %}

    {% concat "modal_id" "remove_credential_modal-" credential.pk %}
    {% concat "confirmation_message" "Are you sure you want to delete user " credential.user "?"%}
    {% include "admin/confirmation_modal.html" with modal_id=modal_id confirmation_message=confirmation_message box_title="Delete User" button_class="btn btn-primary btn-credential-remove" dismiss_option="data-dismiss=modal"  id_optional="id=id_remove_credential_btn_modal" %}


  {% endfor %}
{% endif %}


{% include "admin/confirmation_modal_input.html" with modal_id="setup_ssl" title="Configure SSL" body_text="logical/modal/setup_ssl.html" input_name="setup_ssl_yes" class="btn btn-primary" submit_button_value="Configure SSL" submit_button_name="setup_ssl" submit_button_id="id_setup_ssl_modal" %}

{% include "admin/confirmation_modal.html" with modal_id="retry_setup_ssl" confirmation_message="Do you want to try retry configure SSL again?" box_title="Configure SSL" button_type="submit" button_value="Retry Configure SSL" button_name="retry_setup_ssl" %}


{% endblock %}

{% block js_footer %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/mustache.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/credential.js' %}"></script>
  <script type="text/javascript" >
    django.jQuery(function() {
      {% if database.engine.has_users %}
        {% for credential in database.credentials.all %}
          var checked = {% if credential.force_ssl %} "checked" {% else %} "" {% endif %};
          CredentialManager.include({"credential" : { "user": "{{credential.user}}", "password": "{{credential.password}}",
            "pk": "{{credential.pk}}", "ssl_swap_label":"{{credential.ssl_swap_label}}",
            "checked" : checked,
            "privileges": "{{credential.privileges}}",
            }});
        {% endfor %}
      {% else %}
        CredentialManager.include({"credential" : {  "password": "{{ database.databaseinfra.password }}", "pk": "001" } });
      {% endif %}

    });
  </script>


<script>
  function status_resize(btn_id, current_value, selected_value) {
    btn = document.getElementById(btn_id)
    btn.disabled = current_value == selected_value
    if (btn.disabled){
      btn.className = 'resize_button btn';
    } else {
      btn.className = 'resize_button btn btn-primary';
    }
  }

  jQuery(document).ready(function($) {
    $("#id_setup_ssl_yes").keyup(function() {
      btn = document.getElementById("id_setup_ssl_modal");
      btn.disabled = $(this).val() != "yes";
      if (btn.disabled) {
        $(btn).removeClass ('btn-primary');
      } else {
        $(btn).addClass('btn-primary');
      }
    });

  })
  function scorePassword(pass) {
    var score = 0;
    if ((!pass) || (pass.length < 4)) {
        return score;
    }
    // award every unique letter until 5 repetitions
    var letters = new Object();
    for (var i=0; i<pass.length; i++) {
        letters[pass[i]] = (letters[pass[i]] || 0) + 1;
        score += 5.0 / letters[pass[i]];
    }

    // bonus points for mixing it up
    var variations = {
        digits: /\d/.test(pass),
        lower: /[a-z]/.test(pass),
        upper: /[A-Z]/.test(pass),
        nonWords: /\W/.test(pass),
    }

    variationCount = 0;
    for (var check in variations) {
        variationCount += (variations[check] == true) ? 1 : 0;
    }
    score += (variationCount - 1) * 10;

    return parseInt(score);
}

function getStrengthOfPass(pass) {
    var score = scorePassword(pass);
    if (score == 0) {
      return 0
    }
    if (score > 80)
        return 5
    if (score > 70)
        return 4
    if (score > 60)
        return 3
    if (score > 40)
        return 2
    if (score <= 40)
        return 1
}

function changeBtn(disabled) {
  var $newPassYesBtn = $("#id_change_password_btn_modal");
  $newPassYesBtn.attr('disabled', disabled);
  if (disabled) {
    $($newPassYesBtn).removeClass ('btn-primary');
  } else {
    $($newPassYesBtn).addClass('btn-primary');
  }
}
 function password_strength(password, credentialId) {
   var meterSelector = '#meter_' + credentialId;
   var $passStrength = $('#strength_human_' + credentialId);
   var $meter = $(meterSelector);
   var strength = 0;
   var length = password.length;
   if (length < 4) {
     strength = 0;
     $meter.removeClass();
     $meter.addClass('meter-bar');
     $(meterSelector + ' span').removeClass();
     $passStrength.text("Too short!");
     changeBtn(true);
   } else {
     var strength = getStrengthOfPass(password);

     switch (strength) {
       case 0:
         $meter.removeClass()
         $passStrength.text("Too short!");
         changeBtn(true);
         break;
       case 1:
         $meter.removeClass()
          .addClass('meter-bar rating-' + strength);
         $(meterSelector + ' > span').addClass('tint');
         $(meterSelector + ' > span:nth-child(n+' + strength + ')').removeClass('tint');
         $passStrength.text("Very Weak");
         changeBtn(false);
         break;
       case 2:
         $meter.removeClass();
         $meter.addClass('meter-bar rating-' + strength);
         $(meterSelector + ' > span').addClass('tint');
         $(meterSelector + ' > span:nth-child(n+' + strength + ')').removeClass('tint');
         $passStrength.text("Weak");
         changeBtn(false);
         break;
       case 3:
         $meter.removeClass();
         $meter.addClass('meter-bar rating-' + strength);
         $(meterSelector + ' > span').addClass('tint');
         $(meterSelector + ' > span:nth-child(n+' + strength + ')').removeClass('tint');
         $passStrength.text("Good");
         changeBtn(false);
         break;
       case 4:
         $meter.removeClass();
         $meter.addClass('meter-bar rating-' + strength);
         $(meterSelector + ' > span:nth-child(' + strength + ')').addClass('tint');
         $(meterSelector + ' > span:nth-child(n+' + strength + ')').removeClass('tint');
         $passStrength.text("Very Good");
         changeBtn(false);
         break;
       case 5:
         $meter.removeClass();
         $meter.addClass('meter-bar rating-' + strength);
         $(meterSelector + ' > span').addClass('tint');
         $(meterSelector + ' > span:nth-child(n+' + strength + ')').removeClass('tint');
         $passStrength.text("Strong");
         changeBtn(false);
         break;

       default:
         $meter.addClass('rating-' + strength);
         $(meterSelector + ' > span:nth-child(' + strength + ')').removeClass('tint');
     }
     if (strength > 0) {
       $meter.addClass('rating-' + strength);
       $(meterSelector + ' > span:nth-child(' + strength + ')').addClass('tint');
     }
   }
 }

  jQuery(document).ready(function($) {
      $(".modal-new-password").on("keyup keypress keydown", function() {
          var $newPassInput = $(this);
          var pass = $newPassInput.val();
          var credentialId = $newPassInput.data('credentialId');
          password_strength(pass, credentialId);
      });
      $(".modal-new-password").each(function(pos, el) {
        var $newPassInput = $(this);
        var pass = $newPassInput.val();
        var credentialId = $newPassInput.data('credentialId');
        password_strength(pass, credentialId);
      });
  });
</script>


{% endblock %}

{% block database_button_save %}
{% endblock %}
